HPlusSportLogic/bin/Debug/staging/HPlusSportLogic/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azurefile_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azurefile-1"
    },
    "azurefile_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "hplussportfile"
    },
    "azurefile_1_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "hplusstorage41"
    },
    "azurefile_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "azurequeues_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azurequeues"
    },
    "azurequeues_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "HplusStorage"
    },
    "azurequeues_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": "hplusstorage41"
    },
    "azurequeues_1_sharedkey": {
      "type": "securestring",
      "metadata": {
        "description": "The shared storage key of your storage account"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['MessageText']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "Quantity": {
                            "type": "integer"
                          },
                          "Size": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Id",
                          "Name",
                          "Quantity"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {}
            },
            "Create_CSV_table": {
              "type": "Table",
              "inputs": {
                "from": "@body('Parse_JSON')?['Items']",
                "format": "CSV"
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "Create_file": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@body('Create_CSV_table')",
                "headers": {
                  "ReadFileMetadataFromServer": true
                },
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/hplussportfiles",
                  "name": "@{triggerBody()?['MessageId']}.txt",
                  "queryParametersSingleEncoded": true
                }
              },
              "runAfter": {
                "Create_CSV_table": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "OrderFunction": {
              "type": "Function",
              "inputs": {
                "body": "@body('Parse_JSON')",
                "method": "POST",
                "function": {
                  "id": "/subscriptions/3afa6093-ed5c-431b-84fb-d29ffa54d209/resourceGroups/DIlshanStorage/providers/Microsoft.Web/sites/HplusFunctions41/functions/OrderFunction"
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "Delete_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/@{encodeURIComponent('orders')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                "queries": {
                  "popreceipt": "@triggerBody()?['PopReceipt']"
                }
              },
              "runAfter": {
                "OrderFunction": [
                  "Succeeded"
                ],
                "Create_file": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_there_are_messages_in_a_queue": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('orders')}/message_trigger"
              },
              "recurrence": {
                "frequency": "Second",
                "interval": 30
              },
              "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurequeues')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]",
                "connectionName": "[parameters('azurequeues_1_Connection_Name')]"
              },
              "azurefile_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurefile_1_Connection_Name'))]",
                "connectionName": "[parameters('azurefile_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azurefile_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azurefile_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]"
        },
        "displayName": "[parameters('azurefile_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azurefile_1_accountName')]",
          "accessKey": "[parameters('azurefile_1_accessKey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azurequeues_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurequeues')]"
        },
        "displayName": "[parameters('azurequeues_1_Connection_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azurequeues_1_storageaccount')]",
          "sharedkey": "[parameters('azurequeues_1_sharedkey')]"
        }
      }
    }
  ],
  "outputs": {}
}